<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
     <!-- Hamburger -->
     <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card-content>
        <form (ngSubmit)="comprobarLogin()"><br>
              <ion-item>
                    <ion-input placeholder="Email" type="text" name="nombre" [(ngModel)]="usuario.email"></ion-input>
              </ion-item><br>
              <ion-item>
                    <ion-input placeholder="Password" type="password" name="apellido1" [(ngModel)]="usuario.password"></ion-input>
              </ion-item><br>
              <ion-button expand="full" color="primary" type="submit" block>Enviar</ion-button> 
        </form><br>
  </ion-card-content>
</ion-content>
