<ion-header>
  <ion-toolbar>
    <ion-title>Matricula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card-content>
        <form (ngSubmit)="crearMatricula()"><br>
            <ion-item>
                <ion-select style="width: 100%;" placeholder="Selecciona un curso" [(ngModel)]="matricula.cursoId" [ngModelOptions]="{standalone: true}" (ionChange)="cursoId();" >
                    <ion-select-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</ion-select-option>
                </ion-select>
            </ion-item><br>
            <ion-item>
                <ion-datetime style="width: 100%;" placeholder="Fecha De Matrciula" name="date" display-format="YYYY-MM-DD" [(ngModel)]="matricula.fecha"></ion-datetime>
                <ion-icon name="calendar"></ion-icon>
            </ion-item><br>
            <ion-button expand="full" color="primary" type="submit" block>Enviar</ion-button>
          </form>
    </ion-card-content>
</ion-content>
